<!DOCTYPE HTML>
<html lang="en">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Niyas Attasseri
              </h1>
              <p>I am a masters student in the <a href="https://ece.ucsd.edu/" target="_blank">Department of Electrical and
                Computer Engineering</a> at <a href="https://www.ucsd.edu/" target="_blank">University of California San Diego</a>. 
                I'm specializing in Intelligent Systems, Robotics and Control as part of the <a href="https://contextualrobotics.ucsd.edu/" target="_blank">Contextual Robotics Institute (CRI)</a>.
                I have completed all my program requirements and am open to full-time and co-op opportunities starting in January 2025.
            </p>
            <p>
              I earned my bachelor's degree in Chemical Engineering (Systems and Control track) from the <a href="http://www.iitm.ac.in/" target="_blank">Indian Institute of
                Technology Madras</a>, where I worked at <a href="https://www.linkedin.com/company/senai-iitm/about/" target="_blank">SENAI</a> lab and <a href="https://cfi.iitm.ac.in/" target="_blank">Centre For Innovation IIT Madras</a> on the <a href="https://teamanveshakiitm.com/" target="_blank">Mars Rover</a> project.
                Over the years at IIT Madras and later during my research on building autonomous bicycle, I have developed a deep interest towards Robotics, Controls, Vision, Machine Learning and related areas.
              </p>
              <p style="text-align:center">
                <!-- <a target="_blank" href="https://mailhide.io/e/bTlcDk6L" target="_blank"> Email</a> &nbsp;/&nbsp; -->
                <a target="_blank" href="mailto:nattasseri@ucsd.edu" target="_blank"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/Niyas-A" target="_blank">GitHub</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/niyas-attasseri/" target="_blank"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="https://drive.google.com/file/d/1qazsJNfind2qQ8ZUllS_axDTs6F69dGt/view" target="_blank"> Resume </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle_bw_crop.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>My interests</h2>
              <p>
                I am passionate about a broad range of topics that span both theoretical and applied areas:
              </p>
              <p>
                1. <strong>Broad Theoretical Areas:</strong> Robotics, Control Theory, Systems Theory, Computer Vision, Optimization, Machine Learning, Algorithms
              </p>
              <p>
                2. <strong>Specific Focus Areas:</strong> Simultaneous Localization and Mapping (SLAM), State Estimation, Sensor Fusion, Adaptive Control, Motion Planning, Perception, Planning Algorithms, Reinforcement Learning and Deep Learning for Vision.
              </p>
              <p>
                3. <strong>Application Areas:</strong> Mobile Robots (Ground, Aerial, Underwater), Multi-robot and Networked Systems, Autonomous Systems, Driverless Cars, Field and Service Robots, Guidance and Navigation for Autonomous Systems
              </p>
              <p>
                I am actively seeking opportunities in Robotics, Computer Vision, Automatic Control, Machine Learning, and related fields. I am open to Engineering, R&D, or Research roles in these areas.
            </p>
              <h2>Work Experience</h2>
              <p>
                I have over 3 years of experience in software development and automation.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'projects' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <!-- <img src="{{ site.baseurl }}/images/doorkey.gif"> -->
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <!-- {{post.authors}} -->

              <!-- <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br> -->
              {% if post.arxiv %}
              <a href="{{post.arxiv}}" target="_blank">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}" target="_blank">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}" target="_blank">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}" target="_blank">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}" target="_blank">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}" target="_blank">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}" target="_blank">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Robotics Projects</h2>
              <p> My experience includes coursework, side projects, and unpublished research work in these areas. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <!-- <em>{{post.categories}} {{post.course}}</em> -->
              <!-- <br>
              {{ post.date | date: "%m-%Y" }}

              <br> -->
              {% if post.website %}
              <a href="{{post.website}}" target="_blank">website </a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}" target="_blank">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}" target="_blank">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}" target="_blank">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}" target="_blank">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}" target="_blank">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}" target="_blank">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}" target="_blank">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}" target="_blank">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}" target="_blank">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info" target="_blank">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

